* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/* body{
  max-width: 1200px;
  margin: 0 auto;
} */

/*Background colors*/

.bg-body {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(to bottom, #009688, #dadbd4); */
  background: linear-gradient(
    #009688,
    #009688 15%,
    #d9dbd5 0
  );
  display: flex;
}

#wa-box {
  width: 80%;
  height: 90%;
  background-color: red;
  margin: auto;
}

/* .dotted-border {
    border: 5px dotted black;
  } */

.maxw-60 {
  max-width: 60px;
  border-radius: 50%;
}
.maxw-100 {
  min-height: 100px;
  max-width: 100%;
}

.marginx-0 {
  margin-right: 0rem;
  margin-left: 0rem;
}

.white-circle {
  background-color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: relative;
}

.bgc-lightblue {
  background-color: #8edafc;
}

.clr-lightblue {
  color: #8edafc;
}

.bgc-gray {
  background-color: #eaeaea;
}

#current-chat {
  background-image: url("../img/mine.jpg");
  display: flex;
  flex-direction: column;
}

#chat-messages {
  min-height: 700px;
}

#type-text {
  height: 100%;
  background-color: white;
}

.message {
  background-color: #d5f9ba;
  min-height: 60px;

  border-radius: 20px;
}
